<div class="wrapper">
    <div class="left-container">left</div>
    <div class="container">
        <div *ngFor="let product of products$ | async">
            <div [routerLink]="['/products', product.productId]" class="styled-product">
                <img [src]="product.imageUrl" class="styled-image"/>
                <label class="styled-name">{{product.name}}</label>
                <label class="styled-description">{{product.description}}</label>
                <label *ngIf="isStateNew(product.conditionId)" class="styled-condition">New</label>
                <label *ngIf="!isStateNew(product.conditionId)" class="styled-condition">Used</label>
            </div>
        </div>
    </div>
    <div class="right-container">right</div>
</div>
